@charset 'utf-8';

$color-initial: #fff !default;
$color-primary: #2A9D8F !default;
$color-secondary: #264653 !default;
$color-tertiary: #E9C46A !default;
$color-quaternary: #F4A261 !default;
$color-quinary: #E76F51 !default;

@import '../../node_modules/milligram/src/_Base.sass';
@import '../../node_modules/milligram/src/_Blockquote.sass';
@import '../../node_modules/milligram/src/_Button.sass';
@import '../../node_modules/milligram/src/_Code.sass';
@import '../../node_modules/milligram/src/_Divider.sass';
@import '../../node_modules/milligram/src/_Form.sass';
@import '../../node_modules/milligram/src/_Grid.sass';
@import '../../node_modules/milligram/src/_Image.sass';
@import '../../node_modules/milligram/src/_Link.sass';
@import '../../node_modules/milligram/src/_List.sass';
@import '../../node_modules/milligram/src/_Spacing.sass';
@import '../../node_modules/milligram/src/_Table.sass';
@import '../../node_modules/milligram/src/_Typography.sass';
@import '../../node_modules/milligram/src/_Utility.sass';

@import './fonts.scss';

body {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
